<div fxLayout="column">
    <mat-form-field>
        <input matInput [matDatepicker]="picker" #searchInput
           placeholder="Start Date" formControlName="releasedAt">
        <mat-datepicker-toggle matSuffix [for]="picker">
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <input matInput [matDatepicker]="picker2" #searchInput
           placeholder="End Date" formControlName="releasedAt">
        <mat-datepicker-toggle matSuffix [for]="picker">
        </mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
</div>